source/modules/control.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    
    <include href="ead-fileDesc.rng" a:exclude-from="eac"/>
    
    <!-- to do:
        combine the list values, since there are repeats.  (e.g. cancelled appears in more than one list)
     -->
    <define name="element.control">
        <element name="control">
            <!-- is @audience really needed here??? -->
            <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
            <ref name="attribute-group.control-encodings.optional"/>
            <attribute name="maintenanceStatus">
                <choice>
                    <value>revised</value>
                    <value>deleted</value>
                    <value>new</value>
                    <value>deletedSplit</value>
                    <value>deletedMerged</value>
                    <value>deletedReplaced</value>
                    <value>cancelled</value>
                    <value>derived</value>
                </choice> 
            </attribute>
            <optional>
                <attribute name="publicationStatus">
                    <choice>
                        <value>approved</value>
                        <value>published</value>
                        <value>inProcess</value>
                    </choice>
                </attribute>
            </optional>
            <!-- just a note that i'd prefer a new element, like identifier, that could
                replace recordId, otherRecordId, unitid, etc.-->
            <element name="recordId">
                <ref name="attribute-group.global-plus-lang-and-script.optional"/>
                <optional>
                    <attribute name="instanceURL">
                        <data type="anyURI"/>
                    </attribute>
                </optional>
                <text/>
            </element>         
            <zeroOrMore>
                <element name="otherRecordId">
                    <ref name="attribute-group.global-plus-lang-and-script.optional"/>
                    <ref name="attribute-group.localType.optional"/>
                    <ref name="attribute-group.linked-data.optional"/>
                    <text/>
                </element>
            </zeroOrMore>     
            <zeroOrMore>
                <element name="representation">
                    <ref name="attribute-group.global-plus-lang-and-script.optional"/>
                    <ref name="attribute-group.links.optional"/>
                    <text/>
                </element>
            </zeroOrMore>
 
            <optional a:exclude-from="eac">
                <ref name="element.fileDesc"/>
            </optional>
 
            <element name="maintenanceAgency">
                <ref name="attribute-group.global-plus-lang-and-script.optional"/>
                <ref name="attribute.countryCode.optional"/>
                <ref name="attribute-group.linked-data.optional"/>
                <!-- update to enforce the order, which is more compatible with the XSD-creation process for the time being.
                    also separating out the definitions for potential extensions. should likely do the same for others, like languageDeclaration -->
                <optional>
                    <ref name="element.agencyCode"/>
                </optional>
                <zeroOrMore>
                    <ref name="element.otherAgencyCode"/>
                </zeroOrMore>
                <oneOrMore>
                    <ref name="element.agencyName"/>
                </oneOrMore>
                <ref name="element.descriptiveNote.optional"/>
            </element>          
            <zeroOrMore>
                <element name="languageDeclaration">
                    <ref name="attribute-group.global.optional"/>
                    <ref name="attribute-group.language-and-script-code"/>
                    <ref name="element.descriptiveNote.optional"/>
                </element>
            </zeroOrMore>
            <zeroOrMore>
                <element name="conventionDeclaration">
                    <ref name="model.declaration-group"/>
                </element>
            </zeroOrMore>
            <!-- note: will be required in DACS. -->
            <zeroOrMore>
                <element name="rightsDeclaration">
                    <ref name="model.declaration-group"/>
                </element>
            </zeroOrMore>
            <zeroOrMore>
                <element name="localTypeDeclaration">
                    <ref name="model.declaration-group"/>
                </element>
            </zeroOrMore>         
            <zeroOrMore>
                <element name="localControl">
                    <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
                    <ref name="attribute-group.linked-data.optional"/>
                    <oneOrMore>
                        <ref name="element.term"/>
                    </oneOrMore>
                    <optional>
                        <ref name="model.date-dateRange.choice"/> 
                    </optional>
                </element>
            </zeroOrMore>
            <element name="maintenanceHistory">
                <ref name="attribute-group.global-plus-lang-and-script.optional"/>
                <ref name="element.maintenanceEvent"/>
            </element>
            <optional>
                <element name="sources">
                    <ref name="attribute-group.global-plus-base-lang-and-script.optional"/>
                    <oneOrMore>
                        <ref name="element.source"/>     
                    </oneOrMore>
                    <ref name="element.descriptiveNote.optional"/>
                </element>
            </optional>
        </element>
    </define>
    
    <define name="element.agencyName">
        <element name="agencyName">
            <ref name="attribute-group.global-plus-lang-and-script.optional"/>
            <ref name="attribute-group.linked-data.optional"/>
            <text/>
        </element>
    </define>
    
    <define name="element.agencyCode">
        <element name="agencyCode">
            <ref name="attribute-group.global-plus-lang-and-script.optional"/>
            <ref name="attribute.status.optional"/>
            <ref name="attribute-group.linked-data.optional"/>
            <text/>
        </element>
    </define>
    
    <define name="element.otherAgencyCode">
        <element name="otherAgencyCode">
            <ref name="attribute-group.global-plus-lang-and-script.optional"/>
            <ref name="attribute-group.linked-data.optional"/>
            <text/>
        </element>
    </define>

    <define name="element.eventDescription">
        <element name="eventDescription">
            <ref name="attribute-group.global-plus-lang-and-script.optional"/>
            <text/>
        </element>
    </define>
    
    <define name="element.maintenanceEvent">
        <oneOrMore>
            <element name="maintenanceEvent">
                <ref name="attribute-group.global-plus-lang-and-script.optional"/>
                <!-- move these to attribute.rng, perhaps.... or keep here, since they'll only be defined in control.  just depends on how easy we want to make this extensible, i guess.-->
                <attribute name="maintenanceEventType">
                    <choice>
                        <value>cancelled</value>
                        <value>created</value>
                        <value>deleted</value>
                        <value>derived</value>
                        <value>revised</value>
                        <value>unknown</value>
                        <value>updated</value>
                    </choice>
                </attribute>
                <element name="eventDateTime">
                    <ref name="attribute-group.global-plus-lang-and-script.optional"/>
                    <ref name="attribute.standardDateTime.optional"/>
                    <text/>
                </element>
                <!-- should add a definition for this, for extension reasons, but will review those issues later on -->
                <element name="agent">
                    <ref name="attribute-group.global-plus-lang-and-script.optional"/>
                    <ref name="attribute-group.linked-data.optional"/>
                    <!-- why not juse use the RiC agent types here? -->
                    <attribute name="agentType">
                        <choice>
                            <value>human</value>
                            <value>machine</value>
                            <value>unknown</value>
                        </choice>
                    </attribute>
                    <text/>
                </element>
                <zeroOrMore>
                    <ref name="element.eventDescription"/>
                </zeroOrMore>
            </element>
        </oneOrMore>
    </define>
    
    <define name="element.source">
        <element name="source">
            <!-- no more localType? -->
            <ref name="attribute-group.global-plus-lang-and-script.optional"/>
            <ref name="attribute-group.links.optional"/>
            <ref name="attribute.lastDateTimeVerified.optional"/>
            <!-- might wind up as reference, but not sure if that's been settled yet -->
            <element name="sourceEntry">
                <ref name="attribute-group.global-plus-lang-and-script.optional"/>
                <ref name="attribute-group.linked-data.optional"/>
                <text/>
            </element>
            <zeroOrMore>
                <element name="citedRange">
                    <ref name="attribute-group.global.optional"/>
                    <ref name="attribute.unit.optional"/>
                    <text/>
                </element>
            </zeroOrMore>
            <ref name="element.objectXMLWrap.optional"/>
            <ref name="element.descriptiveNote.optional"/>
        </element>  
    </define>
    
    <!-- reused for all of the *declaration elements, aside from the odd duck, languageDeclaration (which needn't exist, if we used xml:lang) -->
    <define name="model.declaration-group">
        <ref name="attribute-group.global-plus-lang-and-script-and-localType-pair.optional"/>
        <ref name="attribute-group.linked-data.optional"/>
        <optional>
            <!-- referenceCode, and then re-use?... identifier, and the same? -->
            <element name="shortCode">
                <ref name="attribute-group.global.optional"/>
                <text/>
            </element>
        </optional>
        <ref name="element.reference"/>
        <ref name="element.descriptiveNote.optional"/>
    </define>

</grammar>
